<div class="container h-100">
    <div class="row pt-5">
        <div class="col-8 card p-3">
            <h4 class="text-uppercase fw-bold bg-success text-center bg-opacity-25 p-1 rounded">Billing Address</h4>
            <form>
                <div class="row py-2">
                    <div class="col-6">
                        <input type="text" placeholder="Street" class="form-control ">
                    </div>
                    <div class="col-6">
                        <input type="text" placeholder="Landmark" class="form-control">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <input type="text" placeholder="City" class="form-control">
                    </div>
                    <div class="col-6">
                        <input type="text" placeholder="Pincode" class="form-control">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <textarea rows="3" type="text" placeholder="Addess Line 1" class="form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <textarea rows="3" type="text" placeholder="Address Line 2" class="form-control"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4 card p-3">
            <h4 class="text-uppercase fw-bold bg-warning text-center bg-opacity-25 p-1 rounded">Your Order</h4>
        </div>
    </div>
</div>