<div class="container">
    <div class="card p-3 mt-5 w-50 mx-auto">
            <h4 class="text-uppercase fw-bold bg-secondary text-center bg-opacity-25 p-1 rounded">Your Order is
                Successfully placed!</h4>
            <p class="text-center fw-bold text-muted my-2">"Thank you for your purchase Mr. {{loggedUser}}, Your order will be
                shipped within 3-5 working days. We will send you an email as soon as your parcel is on its way"</p>
        <button class="btn btn-continue my-2" routerLink="/home">Continue Shopping</button>
    </div>
</div>