.card {
    height: 350px;
    margin: 20px 5px;
    position: relative;
    border: 2px solid #254336;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(0, 0, 0, 0.32) 0px 2px 16px 0px;
}

.card-body {
    padding: 10px 15px;
    background-color: #25433612;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.category-badge {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    width: 130px;
    border: 1px #e2c20d solid;
    border-radius: 10px;
    background: #a88f00;
    text-align: center;
}

.product-price{
    font-weight: bold;
    color: #000;
}

.btn-add-cart {
    color: #254336;
    background-color: white;
    border: 2px solid #254336;
    padding: 5px;
    width: 100%;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-add-cart:hover{
    color: #fff;
    background-color: #254336;
    border: 2px solid #254336;
}

.btn-category{
    color: #fff;
    background-color: #254336;
    border: 2px solid #254336;
    padding: 5px;
    width: 100%;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
    margin: 10px;
}

.btn-category:hover{
    color: #254336;
    background-color: #ffffff;
    border: 2px solid #254336;
}